<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISimpleService" />
                <binding name="NetTcpBinding_IReportService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8095/GxService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISimpleService" contract="GxService.ISimpleService"
                name="NetTcpBinding_ISimpleService">
                <identity>
                    <userPrincipalName value="NISHANT\user" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8095/GxReportService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IReportService"
                contract="GxService.IReportService" name="NetTcpBinding_IReportService">
                <identity>
                    <userPrincipalName value="NISHANT\user" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>